<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMX</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@600&display=swap');

.credit-card-form {
  max-width: 100%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.1);
  font-family: 'Montserrat', sans-serif;
  background-color: #dbdbdb;
  text-align: center;
  color: #424242;
  align-content: center;
}

.credit-card-form h2 {
  margin-bottom: 10%;
  font-size: 24px;
}

.credit-card-form .form-group {
  margin-bottom: 15px;

}

.credit-card-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #777;
}

.credit-card-form input[type="text"],
.credit-card-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.credit-card-form .form-row {
  display: flex;
}


.credit-card-form button[type="submit"] {
  width: 100%;
  padding: 14px;
  background-color: #585858;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.credit-card-form button[type="submit"]:hover {
  background-color: #808080;
  color: #424242;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.1);
}

.credit-card-form button[type="submit"]:focus {
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.Image1 {
  margin-top: 0;
  width: 220px;
}
.h2 {
  margin: 0px;
}
</style>
<body>
    <header>
        <div class="nav__logo">
            <img src="./assets/images/logo.png" alt="" srcset="">
        </div>
        <nav>
            <a class="nav__link" href="/">Home</a>
            <a class="nav__link" href="/store">Store</a>
            <a class="nav__link" href="/merch">Merch</a>
            <a class="nav__link" href="/build">Build</a>
            <button id="cart-btn" class="btn btn-primary"><i class="fas fa-cart-shopping"></i></button>
        </nav>
    <div class="nav__icon">
        <span id="cart-btn2" class="btn btn-primary"><i class="fas fa-shopping-cart"></i></span>
        <span><i class="fa fa-bars" id="menu"></i></span>
    </div>
    </header>
    <div class="cart__container">
        <div class="cart__header">
            <h2>Cart</h2>
            <button class="btn btn-close" id="cart-close"></button>
        </div>
        <div class="cart__content">
            
            <% cart.forEach(c => { %>
                <div class="cart__product">
                    <div class="cart__img">
                        <img src="<%=c.image%>" alt="">
                    </div>
                    <div class="cart__detail">
                        <h6><%= c.name %></h6>
                        <div class="input__qty">
                            <button onclick="removeFromCart(this)" id="<%= c.id %>">-</button>
                            <input type="text" value="<%=c.quantity%>" readonly>
                            <button onclick="addToCart(this)" id="<%= c.id %>">+</button>
                        </div>
                    </div>
                    <div class="cart__price">
                        <h5>$<%= Number(c.price).toFixed(2) %></h5>
                    </div>
                </div>
                <% }) %>
                <div class="cart__footer">
                <% if (cart.length>0) { %>
                    <div class="sub__total">
                        <h6>SubTotal</h6>
                        <h5>$<%= Number(subtotal).toFixed(2) %></h5>
                    </div>
                    <p class="cart__footer__text text-black">Shipping and discount codes are added at checkout.</p>
                    <button class="btn btn-dark " id="checkoutBtn" onclick="checkOut()">Checkout</button>
                    <% } %>
                </div>
            </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
                  <button type="button" id="checkoutmodal-close" class="close btn btn-close" style="position: absolute; right: 0;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>

                <div class="credit-card-form">
                    <h2>PAYMENT PORTAL</h2>
                <img class="Image1" src="https://i.ibb.co/hgJ7z3J/6375aad33dbabc9c424b5713-card-mockup-01.png" alt="6375aad33dbabc9c424b5713-card-mockup-01" border="0"></a>
                  
                    <form action="/order" method="post" id="paymentForm">
                      <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input class="form-control" type="text" id="name" name="name" required>
                      </div>
                      <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                      </div>
                      <div class="form-row">
                        <div class="form-group form-column">
                            <label for="address" class="form-label">Shipping Address</label>
                            <input type="text" id="address" name="address" class="form-control" required>
                        </div>
                        <div class="form-group form-column">
                            <label for="category" class="form-label">Payment</label>
                        <select name="category" class="form-control" id="category" required>
                            <option value="crypto">Select a payment</option>
            <option value="crypto">Crypto</option>
            <option value="paypal">Paypal</option>
            <option value="zelle">Zelle</option>
            <option value="apple_pay">Apple Pay</option>
            <option value="cash_app">Cash App</option>
                        </select>
                        </div>
                      </div>
                      <button type="submit" class="click-button">PAY NOW</button>
                    </form>
                  </div>
<script>
    function showLoading(event, button) {
  event.preventDefault();
  button.innerHTML = "Processing Payment...";

  setTimeout(function() {
    button.innerHTML = "Payment completed.";
  }, 3000);
}
</script>
                <!-- <form action="/order" method="post" id="paymentForm">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input class="form-control" type="text" id="name" name="name" required>
                      </div>
                      <div class="form-group">
                        <label for="category" class="form-label">Payment</label>
                        <select name="category" class="form-control" id="category" required>
            <option value="crypto">Crypto</option>
            <option value="paypal">Paypal</option>
            <option value="zelle">Zelle</option>
            <option value="apple_pay">Apple Pay</option>
            <option value="cash_app">Cash App</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="price" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="price" class="form-label">Shipping Address</label>
                        <input type="text" name="address" class="form-control" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Order</button>
                    </div>
                </form> -->
          </div>
        </div>
      </div>

      <script>
        const closeCheckoutModalBtn = document.getElementById('checkoutmodal-close')
const checkoutBtn = document.getElementById('checkoutBtn')

function checkOut(){
    console.log('clicked')
    let modal = new bootstrap.Modal(document.getElementById('checkout-modal',{}))
    modal.show()
    closeCheckoutModalBtn.onclick = ()=>{
    modal.hide()
    }
}
      </script>