<%-include('../partials/adminhead.ejs')%>
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Product</p>
                                <h6 class="mb-0"><%= totalProduct %></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Orders</p>
                                <h6 class="mb-0"><%= totalOrders %></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$<%= revenue %></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


       


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Orders</h6>
                        <a href="/admin/orders">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Invoice</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Del</th>
                                </tr>
                            </thead>
                            <tbody>
             <% orders.forEach(o => { %>
                <tr>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td><%= new Date(o.createdAt).toDateString() %></td>
                    <td>INV-<%=o.orderNo  %></td>
                    <td><%= o.fullname %></td>
                    <td><%= o.email %></td>
                    <td>$<%= o.total %></td>
                    <td><%= o.payment %></td>
                    <td>
                     <%= o.status %>
                    </td>
                    <td><a class="btn btn-sm btn-primary" href="order_details/<%= o.id %>">Details</a></td>
                    <td>
                        <form action='/admin/orders?_method=DELETE' method="POST">
                            <input type="text" name="id" value="<%= o.id %>" hidden>
                            <button type="submit" class="btn btn-sm btn-close"></button>
                          </form>
                    </td>
                </tr>
             <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
<%-include('../partials/adminfoot.ejs')%>

